/* Containers */

.cloud-container {
    background-color: rgba(0, 51, 102, 0.06);
    justify-content: center;
    align-items: center;
    display: flex;
    height: calc(100% - 100px);
}

.cloud-body {
    width: 90%;
    height: 90%;
    max-height: 90%;
    background-color: white;
    border-radius: 20px;
    padding: 10px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Header for table */
.cloud-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.folder-path {
    display: flex;
    align-items: center;
    color: #003366;
    margin-left: 2%;
}

.folder-path .arrow-left {
    margin-right: 10px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-right: 5%;
}

.upload-button {
    color: white;
    background-color: #003366;
    border: 0px solid #434343;
    border-radius: 25px;
    width: 180px;
    height: 50px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    font-size: 14px;
    font-weight: bold;
    margin-top: 1em;
}

.upload {
    margin-right: 7px;
}

.upload-buttons {
    display: flex;
    justify-content: center;
}

.upload-buttons .upload-close {
    color: white;
    background-color: gray;
    border: 0px solid #434343;
    border-radius: 25px;
    width: 120px;
    height: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
}

.upload-buttons .upload {
    color: white;
    background-color: #003366;
    border: 0px solid #434343;
    border-radius: 25px;
    width: 120px;
    height: 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
}

.upload-file {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 50px;
}

/* File List */
.list-container{
    overflow-y: scroll;
    flex: 1;

}

table thead tr th {
    position: sticky;
    background-color: white;
    top: 0;
}

#file-list {
    border-spacing: 0;
    width: 100%;
    
}

#file-list tr th {
    text-align: left;
    color: black;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #003366;
    line-height: 2rem;
}

#file-list td {
    color: gray;
    border-bottom: 1px solid #003366;
    line-height: 2rem;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 13px;
}

.arrow-down {
    color: gray;
}



#file-list .cloud-checkbox-th {
    width: 40px;
}

#file-list .cloud-checkbox-td {
    padding-left: 10px;
    width: 40px;
}