.header {
    display: flex;
    padding-left: 20px;
    height:100px;
    max-height: 100px;
    align-items: center;
    text-align: center;
    width : 100%;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 0 15px #00000012;
    z-index: 10;
}

.header-left {
    align-items: center;
    display: flex;
}

.venue-name {
    margin-left: 20px;
}

.Dropdown-control.myControl {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #003366;
    border: none;
}

.is-open .Dropdown-arrow.myArrow {
    border-color: transparent transparent #003366;
}

.Dropdown-arrow.myArrow {
    border-color: #003366 transparent transparent;
    margin-top: 10px;
}