.home-container {
    display: flex;
    position: absolute;
    width: calc(100vw - 60px);
    right:0;
    height: 100vh;
}

.main-panel {
    flex-grow: 1;
    flex: 1 1 auto;
    overflow: auto;
    overflow-x: hidden;
}

.favorites {
    display: flex;
    margin-top: 10vh;
    margin-left: 15%;
    color: #003366;
}

.table {
    width: 70%;
    margin: 0 auto;
    border-spacing: 0;
}

.table tr th {
    text-align: left;
    color: black;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #003366;
    line-height: 2rem;
}

.table td {
    border-bottom: 1px solid #003366;
    line-height: 2rem;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 10vh auto;
}
  
.search-input {
    flex: 1;
    border: none;
    padding: 4px;
    margin-left: 15px;
    font-size: 14px;
}
  
.search-button {
    border: none;
    margin-right: 15px;
    cursor: pointer;
    background-color: transparent;
    color: #003366;
    justify-content: center;
    align-items: center;
}

.favorite-button {
    outline: none;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-icon {
    color: lightgray;

}
  
.star-icon.active {
    color: gold;
}

.star-head {
    width: 50px;
}
