.home-container {
    display: flex;
    height: 100vh;
}

.main-panel {
    flex-grow: 1;
    flex: 1 1 auto;
    overflow: auto;
    overflow-x: hidden;
}

h1 {
    display: flex;
    margin-top: 10vh;
    margin-left: 15%;
    color: #003366;
}

table {
    width: 70%;
    margin: 0 auto;
    border-spacing: 0;
}

table tr th {
    text-align: left;
    color: black;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #003366;
    line-height: 2rem;
}

td {
    border-bottom: 1px solid #003366;
    line-height: 2rem;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    max-width: 60vw;
    margin: 10vh auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 4px;
  }
  
.search-input {
    flex: 1;
    border: none;
    padding: 8px;
    font-size: 16px;
}
  
.search-button {
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    background-color: transparent;
}

.favorite-button {
    outline: none;
    border-width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-icon {
    color: gray;
}
  
.star-icon.active {
    color: gold;
}

.star-head {
    width: 50px;
}
