.sb-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    transition: width 1s ease;
}

.sb.collapse{
    width: 0px !important;
    transition: width 1s ease;

}

.bodyTemp{
    margin-left: -50px;
}

.sb{
    width: 350px;
    box-shadow: 0 0 10px #00000043;
    transition: width 1s ease;
    overflow: hidden;
    padding: 5%;
    box-sizing: border-box;
}

.sb-tab{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100%;
    left: -1px;
    z-index: 20;
    transform-style:preserve-3d;
    align-items: center;
    justify-content: center;
}

#tab{
    align-self: center;
}

/* Header */
.sb-header{
    height: 10%;
}

.sb-floor{
    height: 70%;
    font-size: larger;
}

/* Tab Navigation */

.sb-subheading{
    height: 30%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.sb-subheading ul {
    margin:auto;
    padding: 0;
    
}

.sb-subheading ul.selected{
    border-bottom: 2px solid #003366;
}

.sb-subheading ul:hover{
    cursor: pointer;
    border-bottom: 2px solid #5492cf;
    color:#5e5e5e
}
/* Tab Navigation End*/