.sb-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    transition: width 1s ease;
}

.sb.collapse{
    width: 0px !important;
    padding: 15px 0px;
    transition: width 1s ease, padding 0.3s 0.6s;

}

.bodyTemp{
    margin-left: -50px;
}

.sb{
    width: 350px;
    height: inherit;
    box-shadow: 0 0 10px #00000043;
    transition: width 1s ease, padding 0.3s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sb-collapse{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 100%;
    left: -1px;
    z-index: 20;
    transform-style:preserve-3d;
    align-items: center;
    justify-content: center;
}

#collapse{
    align-self: center;
}

/* Header */

.sb-header{
    border-bottom: solid 0.5px #5a5a5a3e;
    flex-grow: 0;
    flex-shrink: 0;
}

.sb-floor{
    height: 70%;
    font-size: larger;
}

/* Tab Navigation */

.sb-tabs{
    display: flex;
    flex-direction: row;
}

.sb-tab {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sb-tab.selected{
    border-bottom: 1.5px solid #003366;
}

.sb-tab:hover{
    cursor: pointer;
    border-bottom: 1.5px solid #5492cf;
    color:#5e5e5e
}
/* Tab Navigation End*/